<%- include('partials/_header') %>
<body>
    <div class="navbar">
        <nav>
            <ul>
            <li><a href="/"><h1>Home</h1></a></li>
            <li><h1>|</h1></li>
            <li><a href="/register"><h1>Register</h1></a></li>
            <li><h1>|</h1></li>
            <li><a href="/login"><h1>Login</h1></a></li>
            </ul>
        </nav>
    </div>
    <script>
        
    </script>
</body>
</html>